<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdk.mapper.RiskMapper">

    <!--    在当前mapper.xml中使用二级缓存-->
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>

    <select id="getRiskList" resultType="Risk" parameterType="map">
        select * from tb_risk
        <where>
            <if test="id!=null">
                tb_risk.food_id=#{id}
            </if>
        </where>
        <if test="pageNum!=null">
            limit #{pageNum},#{pageSize}
        </if>

    </select>
    <select id="getRiskCount" resultType="int">
        select count(*) from tb_risk
        <where>
            <if test="query!=null">
                tb_risk.food_name like concat('%',#{query},'%')
            </if>
        </where>
    </select>

    <insert id="addRisk" parameterType="Risk">
        insert into tb_risk (food_id, food_name, risk_degree, risk_editor)
        values (#{foodId},#{foodName},#{riskDegree},#{riskEditor});
    </insert>

    <delete id="deleteRisk">
        delete from food.tb_risk where food.tb_risk.food_id =#{id}
    </delete>
    
    <update id="modifyRisks" parameterType="Risk">
        update food.tb_risk
        set food_name = #{foodName},food.tb_risk.risk_degree=#{riskDegree},food.tb_risk.risk_editor=#{riskEditor}
        where food.tb_risk.food_id=#{foodId};
    </update>


    <select id="fuzzyQueryRiskFood" resultType="Risk" parameterType="map">
        select * from tb_risk
        where tb_risk.food_name
                  like concat('%',#{query},'%') limit #{pageNum},#{pageSize};
    </select>
</mapper>